<div class="container mt-5">
  <div style="text-align: center" *ngIf="!regMode">
    <h1>Find your match!</h1>
    <p class="lead">first step is to register!</p>
    <div class="text-center">
      <button class="btn-primary btn btn-lg me-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn-primary btn btn-lg">Learn More</button>
    </div>
  </div>

  <div class="container" *ngIf="regMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelReg)="cancelRegMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
